# Object file
*.o

# Ada Library Information
*.ali


# Ignore environment files
.env

# Ignore Python key parameter files
key_param.py
test.py
knowledgebase.py
__pycache__/
venv/
voiceChatMode/model_checkpoints/
voiceChatMode/wav2vec2_model/
model_checkpoints/